# Basic .gitattributes for a vidgear repo.

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Binary data types
*.gif binary
*.ico binary
*.jpg binary
*.bmp binary
*.webp binary
*.svg binary
*.png binary
*.whl binary
*.zip binary

# Language aware diff headers
*.css   diff=css
*.html  diff=html
*.py    diff=python
*.md    diff=markdown

# Linguist language overrides
*.py linguist-language=Python
*.md linguist-language=Markdown
*.js linguist-language=JavaScript
*.sh linguist-language=Shell
*.css linguist-language=CSS
*.html linguist-language=HTML
*.yml linguist-language=YAML

# Override LF on some files
*.js    text eol=lf
*.md    text eol=lf
*.css   text eol=lf
*.html  text eol=lf
*.cfg   text eol=lf
*.json  text eol=lf
*.sh    text eol=lf
*.yml   text eol=lf
*.manifest   text eol=lf